/*ANIMAÇÃO CSS*/
@keyframes montanha{
    from{transform: translate3d(0px, -100px, 0px);}
    to{transform: translate3d(0px, 0px, 0px);}
}
@keyframes frase{
    from{transform: translate3d(-50px, 0px, 0px);}
    to{transform: translate3d(0px, 0px, 0px);}
}

/*TAG*/
*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
}

/*CLASS*/
.bottom{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.geopolitica{
    width: 100%;
    margin-bottom: 10%;
}
.indice{
    width: 100%;
}
.economia{
    width: 100%;
}

/*ID*/

#bandeira{
    width: 100%;
    height: 70px;
}
#img-montanha{
    animation-name: montanha;
    animation-duration: 2s;
}
#texto1{
    animation-name: frase;
    animation-duration: 2s;

    width: 50%;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
}
#texto2{
    width: 45%;
    float: right;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-right: 5%;
}
#chartdiv{
    width: 50%;
    height: 550px;
    margin-bottom: 10%;
}
#texto3{
    width: 50%;
    margin-top: 10%;
    float: left;
    margin-left: 5%;
}
#moeda{
    width: 45%;
    height: 550px;
    float: right;
    margin-bottom: 2%;
}


/*ADAPTAÇÃO MOBILE*/
@media (max-width: 600px) {
    #texto1{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    }
    #montanha{
        margin-left: 30%;
        
    }
    #img-montanha{
        width: 60%;
        margin-bottom: 30%;
    }
    #texto2{
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    #chartdiv{
        width: 100%;
        height: 400px;
        margin-bottom: 75%;
    }
    #texto3{
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
    }
    #moeda{
        width: 100%;
        margin-right: 0%;
        height: 400px;
        margin-bottom: 4%;
    }
    .bottom{
        font-size: 13px;
    }
}



/*ANIMAÇÃO JS*/
[data-anime]{
    opacity: 0;
    transition: .5s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0px, 0px);
}
[data-anime="bottom"]{
    transform: translate3d(0px, 50px, 0px);
}
[data-anime="frase2"]{
    transform: translate3d(50px, 0px, 0px);
}
[data-anime="frase3"]{
    transform: translate3d(-50px, 0px, 0px);
}
[data-anime].animacao{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

